body {

}

@font-face {
  font-family: Lato-Regular;
  src: url('/../../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Hairline;
  src: url('/../../assets/fonts/Lato/Lato-Hairline.ttf');
}

@font-face {
  font-family: PlayfairDisplay-Italic;
  src: url('/../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf');
}
.background-cover {
  background: url('~src/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.row {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container-fluid {
  text-align: center;
  flex-direction: column !important;
  min-height: 100vh;
}
.col-icons {
  right: unset;
  left: unset;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
i.fa {
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  margin: 0.2rem;
  padding: 0.5rem;
}
i.fa:hover {
  cursor: pointer;
  background-color: #fff;
  color: #555;
}
