body {

}

@font-face {
  font-family: Lato-Regular;
  src: url('/../../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Hairline;
  src: url('/../../assets/fonts/Lato/Lato-Hairline.ttf');
}

@font-face {
  font-family: PlayfairDisplay-Italic;
  src: url('/../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf');
}
.background-cover {
  background: url('~src/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 100vh;
}
.row {
  //flex-direction: column;
  align-items: center;
  //min-height: 100vh;
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
}
.container {
max-width: 100vw;
min-height: 100vh;

}
.col-icons {
  //right: unset;
  //left: unset;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  max-width: 100vw;
  min-height: 100vh;

}
i.fa {
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  margin: 0.2rem;
  padding: 0.5rem;
}
i.fa:hover {
  cursor: pointer;
  background-color: #fff;
  color: #555;
}
