body{
  min-height: 100vh;
}
@font-face {
  font-family: Lato-Regular;
  src: url('/../../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Hairline;
  src: url('/../../assets/fonts/Lato/Lato-Hairline.ttf');
}

@font-face {
  font-family: PlayfairDisplay-Italic;
  src: url('/../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf');
}
header, footer {
  text-align: center;
}
.col-girl {
  transform: translateY(-3rem);
}
.wrapper {
  background: url('~src/assets/images/bg-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.row {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
i.fa {
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  margin: 0.2rem;
  padding: 0.5rem;
}
i.fa:hover {
  cursor: pointer;
  background-color: #fff;
  color: #555;
}
