<div class="simpleslide1000">
  <div class="simpleslide100-item bg-img1" style="background-image: url('../../assets/images/bg.jpg');"></div>
</div>

<div class="flex-col-c-sb size1 overlay1">
  <!--  -->
  <div class="w-full flex-w flex-sb-m p-l-80 p-r-80 p-t-22 p-lr-15-sm">
    <div class="wrappic1 m-r-30 m-t-10 m-b-10" style="text-align: center;">
      <a href="/"><img src="../../assets/images/icons/logo-md-lg.png" alt="LOGO"></a>
    </div>
  </div>

  <!--  -->
  <div class="flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120">
    <h3 class="l1-txt1 txt-center p-b-35 respon1">
      Çok Yakında Açılıyoruz
    </h3>
  </div>

  <!--  -->
  <div class="flex-w flex-c-m p-b-35">
    <a href="https://www.instagram.com/mancizcookies/" target="_blank" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
      <i class="fa fa-instagram"></i>
    </a>

    <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
      <i class="fa fa-spotify"></i>
    </a>

    <a href="mailto:mancizcookies@gmail.com" target="_top" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
      <i class="fa fa-paper-plane"></i>
    </a>
  </div>
</div>
