<div class="row row-location flex-row">
  <div class="col-12 col-lg-6 col-cafe offset-lg-3 col-xl-12 offset-xl-0">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title class="card-text">Kare Kahve</mat-card-title>
        <mat-card-subtitle class="card-text">Yeşiltepe Mahallesi, 26210 Tepebaşı/Eskişehir</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <agm-map [latitude]="lat" [longitude]="long" [zoom]="15">
          <agm-marker [latitude]="lat" [longitude]="long" iconUrl="../../favicon.ico">
          </agm-marker>
        </agm-map>
      </mat-card-content>
      <mat-card-actions class="card-text">
        <a mat-icon-button href="https://www.instagram.com/karekahve/" target="_blank" class="instagram-icon">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a mat-icon-button href="https://www.facebook.com/karekahve/" target="_blank">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="w-100"></div>
  <div class="col-12 col-button">
    <button mat-raised-button routerLink="/" class="card-text bg-transparent mat-elevation-z0">Geri Dön</button>
  </div>
</div>
