agm-map {
  height: 25rem;
}
.card-header-image {
  background-image: url("../../assets/images/icons/kare-kahve.png");
  background-size: cover;
}
mat-card-title, mat-card-actions, mat-card-subtitle {
  text-align: left;
}
.cafe-stock {
  background-image: url("../../assets/images/stock-bg.jpg");
}
