agm-map {
  height: 25rem;
}
.card-header-image {
  background-image: url("../../assets/images/icons/kare-kahve.png");
  background-size: cover;
}
mat-card-title, mat-card-subtitle {
  text-align: left;
}
mat-card {
  background-color: transparent;
}
mat-card-actions {
  text-align: center;
}
.instagram-icon {
  &:hover {
    color: #cf348f;
  }
}
.col-button {
  margin-top: 5rem;
}
.cafe-stock {
  height: 559px;
}
.col-cafe {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
